<div class="container__articles">
    <div class="articles__main">
        <app-card
            Id="10"
            cardTitle="Solo Leveling"
            photoCover="assets/image/img10.jpg"
        ></app-card>
        <app-card
            Id="11"
            cardTitle="The Beginning After The End"
            photoCover="assets/image/img11.jpg"
        ></app-card>
        <app-card
            Id="12"
            cardTitle="Nano Machine"
            photoCover="assets/image/img12.jpg"
        ></app-card>
       <app-card
            Id="13"
            cardTitle="My Wife is a Demon Queen"
            photoCover="assets/image/img13.jpeg"
        ></app-card>
        <app-card
            Id="14"
            cardTitle="Tales of Demons and Gods"
            photoCover="assets/image/img14.jpg"
        ></app-card>
        <app-card
            Id="15"
            cardTitle="The Constellations Are My Disciples"
            photoCover="assets/image/img15.jpg"
        ></app-card>
        <app-card
            Id="16"
            cardTitle="Immortal Swordsman in The Reverse World"
            photoCover="assets/image/img16.jpg"
        ></app-card>
        <app-card
            Id="17"
            cardTitle="Nodabsonyeo-She's Hopeless"
            photoCover="assets/image/img17.jfif"
        ></app-card>
        <app-card
            Id="18"
            cardTitle="Mercenary Enrollament"
            photoCover="assets/image/img18.jfif"
        ></app-card>
    </div>
</div>