<div class="container__articles">
    <div class="articles__main">
        <app-card
            Id="1"
            cardTitle="Tokyo Revengers"
            photoCover="assets/image/img01.jpg"
        ></app-card>
        <app-card
            Id="2"
            cardTitle="High School DxD"
            photoCover="assets/image/img02.jpg"    
        ></app-card>
        <app-card
            Id="3"
            cardTitle="Horimiya"
            photoCover="assets/image/img03.jpg"
        ></app-card>
        <app-card
            Id="4"
            cardTitle="Kuroko no Basket"
            photoCover="assets/image/img04.jpg"
        ></app-card>
        <app-card
            Id="5"
            cardTitle="Jujutsu Kaisen"
            photoCover="assets/image/img05.jpg"
        ></app-card>
        <app-card
            Id="6"
            cardTitle="Romantic Killer"
            photoCover="assets/image/img06.jpg"
        ></app-card>
        <app-card
            Id="7"
            cardTitle="Boku no Kokoro no Yabai Yatsu"
            photoCover="assets/image/img07.jpg"
        ></app-card>
        <app-card
            Id="8"
            cardTitle="Haikyuu!!"
            photoCover="assets/image/img08.jpg"
        ></app-card>
        <app-card
            Id="9"
            cardTitle="Dr.Stone"
            photoCover="assets/image/img09.jpg"
        ></app-card> 
    </div>
</div>